@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* Body */
html {
  background: lightgrey;
  overflow: hidden;
  --scrollbarBG: rgba(207, 216, 220, 0);
  --thumbBG: rgb(221, 221, 221);
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  background-color: rgb(255, 255, 255);
  color: black;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar, #orderItem::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track, #orderItem::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb, #orderItem::-webkit-scrollbar-thumb {

  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Utilities */
.min-height {  
  min-height: 100vh;  
}
.min-width{
  min-width: 450px
}
.custom-margin-top {
  margin-top: 4.8rem;
}
.pt {
  padding-top: 5em !important;
}
.overflow {
  overflow: hidden !important;
}

/* Elements */
td{
  vertical-align: middle !important;
  padding: 3em 0 !important;
  overflow: hidden;
}

/* Carousel */
#carousel{
  width: 400px;
  height: 400px;  
}
#nyheter{
  color: rgb(37, 37, 37);
  position: absolute;
  left: 0;
  top: 0.5em;
  right: 0;
  z-index: 10;
}
#landing{
  background-color: rgb(245, 245, 245);
}
.carousel{
  width: 400px;
  height: 400px;
  background: white !important;
  transition: 0.6s ease;
  -webkit-box-shadow: 10px 10px 11px -1px rgba(0,0,0,0.18);
  -moz-box-shadow: 10px 10px 11px -1px rgba(0,0,0,0.18);
  box-shadow: 10px 10px 11px -1px rgba(0,0,0,0.18);
}
.slide{
  background: white !important;
}
.carousel img{
  margin-top: 3em;
  padding: 2em;
  background: white !important;
}
.carousel h5{
  background: white;
  margin: 0;
}
.control-dots{
  padding-right: 2.5em;
}
.control-dots .dot.selected{
  background: rgb(255, 251, 251) !important;
}

